@model DotNetCoreProject_Sayed.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
